<div class="row">
    <div class="col-md-12 block">

      <button routerLink="/historico">Historico</button>

    </div>

</div>
<div class="row">
    <div class="col-md-6">

      <div class="bloco">
        <p>Velocidade de Download</p>
        <h2>{{ velocity.download.value }} MB</h2>
      </div>

    </div>
    <div class="col-md-6">

        <div class="bloco">
            <p>Velocidade de Upload</p>
            <h2>{{ velocity.upload.value }} MB</h2>
          </div>

    </div>
</div>

<div>
  <h2>historico</h2>
  <ul style="width:100%; display:block">
    <li *ngFor="let item of measurementHistory" style="width:100%; display:block">
     download {{ item.download  }} - upload {{ item.upload }}
    </li>
  </ul>
</div>
