<header class="block" >
    <div class="container">

      <div class="row">
          <div class="col-md-3">
              <!-- logotipo -->
              <div class="logo">
                 <h1>
                    <img src="assets/images/logo.png" alt="Logotipo speedtste" />
                 </h1>
              </div>
          </div>
          <div class="col-md-9">
              <!-- user -->
              <div class="user">
                <a >Silvio Santos </a> <img src="assets/images/edit.png" alt="Editar o seu nome" />
              </div>
          </div>
      </div>


    </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

