/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

/* vars */
/* colors*/
$white : #ffffff;
$lightBlack: #3c3c3c;
$black: #171717;
$lightOrange: #ffa800;
$orange: #ff6600;


/* content */
.container{
  max-width:882px;
}
.block{
  width:100%;
  float:left;
  min-height:80px;
}

body{
  background: $lightBlack;
}
