/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

/* vars */
/* colors*/
$white : #ffffff;
$lightBlack: #3c3c3c;
$black: #171717;
$lightOrange: #ffa800;
$orange: #ff6600;


/* content */
.container{
  max-width:882px;
}
.block{
  width:100%;
  float:left;
}

body{
  background: $lightBlack;
  font-family: 'Open Sans', sans-serif;
}

header{
  width:100%;
  height:100px;
  display:block;
  background: $black;
  .logo{
    margin-top:18px;
  }
  .input{
    float:right;
    width:300px;
    height:100px;
    input{
      float:right;
      border:0;
      margin-top:40px;
      padding-left:5px;
    }
    .btn{
      padding: 2px 10px;
      text-decoration: none;
      font-size:14px;
      float:right;
      margin-top:40px;
      margin-left:5px;
    }
  }
  .user{
    float:right;
    width:300px;
    height:100px;
    a{
      color: $white !important;
      float: right;
      margin:44px 7px 0 0;
      cursor:pointer;
      font-size:16px;
    }
    img{
      float: right;
      margin-top:40px;
      cursor:pointer;
    }
  }
}

.message{
  text-align:center;
  padding:90px 0;
  h3{
    color: $white;
    font-size:28px;
    font-weight:700;
  }
}

.btn{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: $white;
  color: $black;
  border-radius:0;
  font-size:19px;
  font-weight:bold;
  text-transform: uppercase;
  padding:15px 50px;
  &:hover{
    background-color: $orange;
    color:$white;
  }
}

.clock{
  border-top:1px solid $lightOrange;
  margin:30px  0 50px 0;
  padding-top:40px;
  .bloco{
    color:$white;
    width:100%;
    padding-bottom:10px;
    &.line{
      border-left:1px solid $lightOrange;
    }
    p{
      width:100%;
      font-size:18px;
      font-weight:700;
    }
    h2{
      width:100%;
      font-size:60px;
      font-weight:700;
      span{
        font-size:25px;
        font-weight:400;
      }
    }
  }
}

.history{
  padding-top:80px;
  .table{
    margin-top:40px;
    thead{
      th{
        border-bottom:2px solid #dee2e6;
        color: $white;
      }
    }
    tr{
      td{
        border-top:1px solid #343434 !important;
        color: $white;
      }
    }
  }
}


/* responsive */

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {  }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  header{
    text-align:center;
    height: auto;
    .user{
      a{
        font-size:22px;
        margin-top:37px;
      }
    }
  }
  .message{
    padding:40px 0;
  }

  .clock{
    .bloco{
      &.line{
        margin-top:50px;
        border:0;
      }
    }
  }
 }

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

 }
